.wholebg{
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);

}
.head {
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 121px;
line-height: 75px;
/* or 121% */


letter-spacing: -0.04em;

background: #AE67FA;
background: repeating-radial-gradient(ellipse farthest-side at top left, #AE67FA 71%, #F49867 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.input {
  width: 70%;
  background: #052D56;
border-radius: 5px 0px 0px 5px;
}